*{
  margin: 0;
  padding: 0;
}

:root{
  background-color: #242424;
  color: #f2f2f2;
  --main-color: #336699;
}

.body{
  --size: 100px;
  --x: 0px;
  --y: 0px;

  width: var(--size);
  height: var(--size);
  background-color: #336699;
  border-radius: 50%;
  position: fixed;
  top: calc( var(--y) - ( var(--size) / 2 ) );
  left: calc( var(--x) - ( var(--size) / 2 ) );
  z-index: 0;
}