*{
  margin: 0;
  padding: 0;
}

:root{
  background-color: #242424;
  color: #f2f2f2;
  --main-color: #336699;
}

.body{
  --size: 100px;
  --x: 0px;
  --y: 0px;

  width: var(--size);
  height: var(--size);
  background-color: #336699;
  border-radius: 50%;
  position: fixed;
  top: var(--y);
  left: var(--x);
  z-index: 0;
}

/* #body1{
  border-radius: 50%;
  width: 100px;
  height: 200px;
  border: 2px solid #f2f2f2;
  
  position: fixed;
  top: 100px;
  left: 100px;
  rotate: 20deg;
} */

.settings{
  width: fit-content;
  padding: 5px;
  z-index: 10;
}

.setting {
  border: 1px solid var(--main-color);
  border-radius: 3px;
  padding: 5px;
}

.setting .title {
  font-size: 20px;
}